
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="tc-team-team pt-70 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="team-card mt-50">
                    <div class="img img-cover th-330">
                        <img src="./img/team_page/1.jpg" alt="">
                    </div>
                    <div class="info pt-40">
                        <p class="fsz-13px color-999 mb-2"> Founder </p>
                        <h6 class="fsz-20px fw-bold"> Rosalina D. William </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-card mt-50">
                    <div class="img img-cover th-330">
                        <img src="./img/team_page/2.jpg" alt="">
                    </div>
                    <div class="info pt-40">
                        <p class="fsz-13px color-999 mb-2"> CEO </p>
                        <h6 class="fsz-20px fw-bold"> Miranda H. Halim </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-card mt-50">
                    <div class="img img-cover th-330">
                        <img src="./img/team_page/3.jpg" alt="">
                    </div>
                    <div class="info pt-40">
                        <p class="fsz-13px color-999 mb-2"> Support Engineer </p>
                        <h6 class="fsz-20px fw-bold"> Alexis D. Dowson </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-card mt-50">
                    <div class="img img-cover th-330">
                        <img src="./img/team_page/4.jpg" alt="">
                    </div>
                    <div class="info pt-40">
                        <p class="fsz-13px color-999 mb-2"> Designer </p>
                        <h6 class="fsz-20px fw-bold"> Humble H. Yembol </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-card mt-50">
                    <div class="img img-cover th-330">
                        <img src="./img/team_page/5.jpg" alt="">
                    </div>
                    <div class="info pt-40">
                        <p class="fsz-13px color-999 mb-2"> Developer </p>
                        <h6 class="fsz-20px fw-bold"> Hilix B. Bumble </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-card mt-50">
                    <div class="img img-cover th-330">
                        <img src="./img/team_page/6.jpg" alt="">
                    </div>
                    <div class="info pt-40">
                        <p class="fsz-13px color-999 mb-2"> SEO Expert </p>
                        <h6 class="fsz-20px fw-bold"> Jakson S. Silicon </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-card mt-50">
                    <div class="img img-cover th-330">
                        <img src="./img/team_page/7.jpg" alt="">
                    </div>
                    <div class="info pt-40">
                        <p class="fsz-13px color-999 mb-2"> Marketer </p>
                        <h6 class="fsz-20px fw-bold"> Yokolili L. Limson </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-card mt-50">
                    <div class="img img-cover th-330">
                        <img src="./img/team_page/8.jpg" alt="">
                    </div>
                    <div class="info pt-40">
                        <p class="fsz-13px color-999 mb-2"> Head Of Idea </p>
                        <h6 class="fsz-20px fw-bold"> Wandoo D. Dimon </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-50 mb-50">
            <a href="#" class="butn bg-main text-white hover-shadow">
                <span> Join Us Today </span>
            </a>
        </div>
    </div>
</section>

